.detail {
    height: 100%;
}

.post-origin {
    height: 20%;
    border-bottom: 1px solid black;
    display: table;
    padding: 3%;
}

.post-box-icon,
.post-box-labels,
.post-box-favo {
    display: table-cell;
    height: fit-content;
    vertical-align: middle;
}

.post-box-icon {
    width: 25%;
}

.post-box-labels {
    width: 50%;
}

.post-box-labels * {
    margin: 5% auto;
}

.post-box-favo {
    width: 25%;
}

.post-box-icon img {
    width: 20vw;
    border-radius: 50%;
}

.post-box-labels {
    margin: auto;
}
.post-box-username {
    font-size: 1.25rem;
}

.post-replyes {
    height: 50%;
    border-bottom: 1px solid black;
}

.post-send-form {
    display: table;
    width: 85vw;
    height: 30%;
    padding: 3%;
    margin: auto;
}

.post-send-form form {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

#content {
    height: 10vh;
}

