<link rel="stylesheet" href="/statics/css/detail.css">
<div class="detail">
    <div class="post-origin">
        <div class="post-box-icon">
            <img src="{{icon_path}}">
        </div>
        <div class="post-box-labels">
            <div class="post-box-labels-info">
                <span class="post-box-username">
                    {{name}}
                </span>
                <span class="post-box-created_at">
                    {{created_at}}
                </span>
            </div>
            <div class="post-box-labels-contents">
                <span class="post-box-labels-contents-content">
                    {{content}}
                </span>
            </div>
        </div>
        <div class="post-box-favo">
            <button class="favorite-button" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
            </button>
        </div>
    </div>
    <div class="post-replyes">

    </div>
    <div class="post-send-form">
        <form action="">
            <div class="mb-3">
                <textarea name="content" id="content" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">返信する</button>
            </div>
        </form>
    </div>
</div>
